## Lab Exercise 1

### You need to print the notebook as PDF and submit it on moodle
#### The deadline of submission is 23:59, 5 Feb 2021

**Question 1**

**Rewrite the code below to fulfill the following requirements:**
1. if the variable `marks` is less than 0, output "Marks can't be a negative number"
2. if the variable `marks` is larger than 100, output "Marks should be smaller than 100."

In [5]:
# Question 1
# Change the code below

marks = 96
grade = 'F'

if marks > 0 and marks < 40:
    grade = 'F'
elif marks >=40 and marks < 60:
    grade = 'D'
elif marks >=60 and marks < 70:
    grade = 'C'
elif marks >=70 and marks < 80:
    grade = 'B'
elif marks >=80:
    grade = 'A'

if marks < 0:
    print("Marks can't be a negative number")
elif marks >100: 
    print("Marks should be samller than 100")
else:
    print("Your grade is " + grade)

Your grade is A

**Question 2**

**Rewrite the code below for printing the number 1 to 10, but skipping 3.**

Your output should look like this:
1
2
4
5
6
7
8
9
10

In [6]:
# Question 2
# Change the code below

i = 0

while i < 10:
    i = i + 1
    if i == 3:
        continue
    else:
        print(i)

1
2
4
5
6
7
8
9
10

**Question 3**

**Use `for` loop to print a multiplication charts of 1-12.**

Your output should look like this:

![if else](images/lab_exercise01_multi_table.png)

In [3]:
# Hints
# if you add (end = "") in the print function, your will print without newline
# below is an example to print 0-8 in a same line
# range(1,9) is an iteration object start from 1 to 8

for i in range(1,9):
    print(i, end ="")

12345678

In [8]:
# Question 3
# Write you program below:

for i in range(1,13):
    for j in range(1,13):
        print(i*j, end ="")
        print(" ", end ="")

    print("")

1 2 3 4 5 6 7 8 9 10 11 12
2 4 6 8 10 12 14 16 18 20 22 24
3 6 9 12 15 18 21 24 27 30 33 36
4 8 12 16 20 24 28 32 36 40 44 48
5 10 15 20 25 30 35 40 45 50 55 60
6 12 18 24 30 36 42 48 54 60 66 72
7 14 21 28 35 42 49 56 63 70 77 84
8 16 24 32 40 48 56 64 72 80 88 96
9 18 27 36 45 54 63 72 81 90 99 108
10 20 30 40 50 60 70 80 90 100 110 120
11 22 33 44 55 66 77 88 99 110 121 132
12 24 36 48 60 72 84 96 108 120 132 144

**Question 4**

**Use a `while` loop to find out the factorial of variable `n`**

For example: 

4! = 4 * 3 * 2 * 1 = 24

10! = 10 * 9 * 8 * 7 * 6 * 5 * 4 * 3 * 2 * 1 = 3628800

In [12]:
# Question 4
# n = 4 is for testing, your program should work for any value of n

n = 4

# write your program below:
result = 1
for i in range(1,n+1):
    result *= i

result

24